<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home - Bytecell</title>
	<link rel="stylesheet" href="view/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
	<script type="text/javascript" src="view/scripts/script.js"></script>
	<script type="text/javascript" src="view/scripts/ajax.js"></script>

</head>
<body>
	<button class="goToTop" id="goToTop">&#8679;</button>
	<header>
		<a href="#home">
			<img src="view/css/images/bytecellLogo.png" alt="Logo de Bytecell">
		</a>

		<h1 id="mainH1">Bienvenidos a Bytecell</h1>

		<section class="contactInfoHeader">
			<a href="#Contacto">
				<span>Garroz Gastón<br></span>
				<span>Calle 1 N° 234 entre 56 y 78 <br></span>
				<span>Tel: 423456 Cel: 2323-1551607080 <br></span>
			</a>
		</section>
	</header>

	<nav class="navContainer" id="navContainer">
		<ul class="navBar">
			<li><a class="navHome" href="#Home"><span>Home </span></a></li>
			<li><a class="navVentas" href="#Ventas"><span>Ventas </span></a></li>
			<li><a class="navContacto" href="#Contacto"><span>Contáctenos </span></a></li>
		</ul>	
		<section class="navLogin">
			<form action="">
				<input type="text" name="username" placeholder="Usuario">
				<input type="password" name="password" placeholder="Contraseña">
				<input type="submit" value=">">
			</form>
			<a href="#"><span>¿No estás registrado?</span></a>
		</section>
	</nav>


	<section class="ventasSection">
		<h2>Productos a la venta</h2>
		<article class="sliderContainer" id="sliderContainer">
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/cell01.jpg" alt="Imagen del celular.">
				<figcaption class="slideDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/images/3/cell01.jpg" alt="Imagen del celular.">
				<figcaption class="slideDesc">ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu</figcaption>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/cell03.jpg" alt="Imagen del celular.">
				<figcaption class="slideDesc">ariatur beatae distinctio sit cupiditate alias obc ariatur beatae distinctio sit cupiditate alias obc ariatur beatae distinctio sit cupiditate alias obc ariatur beatae distinctio sit cupiditate alias obc</figcaption>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/cell04.jpg" alt="Imagen del celular.">
				<figcaption class="slideDesc">ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci.</figcaption>
			</figure>
			<!--<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/repairBG.png" alt="Imagen del celular.">
				<figcaption class="slideDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/bytecellLogo.png" alt="Imagen del celular.">
				<figcaption class="slideDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
			</figure>-->
		</article>
	</section>


	<section class="reparSection">
		<h2>Reparaciones</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nulla unde sed rem a, ratione dolorum aperiam tempore magni expedita. Itaque accusamus eum labore nostrum ducimus, maxime error tempore veniam?</p>
		<button>Diagnóstico en tiempo real</button>	
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum iure quo asperiores qui, quibusdam cum aliquid alias odio atque est ex incidunt excepturi, accusamus aspernatur dolores, nobis eius voluptatem ab.</p>
	</section>

	<section class="contactoSection">
		<h2>Contáctenos!</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolores nisi deserunt voluptatibus? Perferendis sit facilis natus officia, ipsum nisi accusantium possimus ad porro rerum modi eius! Nihil, recusandae inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto obcaecati dolorem nesciunt magnam ab, alias vitae, assumenda harum at asperiores fuga nihil eaque, voluptatem, mollitia temporibus. Atque, dicta, consequatur.</p>		
	</section>

	<footer>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias modi, blanditiis voluptatum voluptatem fugit reiciendis accusamus pariatur beatae distinctio sit cupiditate alias obcaecati culpa numquam repellat dolores amet. Natus, adipisci.</p>
	</footer>
	
</body>
</html>