<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home - Bytecell</title>
	<link rel="stylesheet" href="view/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<script type="text/javascript" src="view/scripts/ajax.js"></script>
	<script type="text/javascript" src="view/scripts/slider.js"></script>
	<script type="text/javascript" src="view/scripts/script.js"></script>
	<!--<script type="text/javascript" src="view/scripts/index.js"></script>-->
</head>
<body>
	<button class="goToTop" id="goToTop"></button>
	<header>
		<a href="#home" id="home">
			<img src="view/css/images/bytecellLogo.png" alt="Logo de Bytecell">
		</a>

		<h1 id="mainH1">Bienvenidos a Bytecell</h1>

		<section class="contactInfoHeader">
			<a href="#Contacto">
				<span>Garroz Gastón<br></span>
				<span>Calle 1 N° 234 entre 56 y 78 <br></span>
				<span>Tel: 423456 Cel: 2323-1551607080 <br></span>
			</a>
		</section>
	</header>

	<nav class="navContainer" id="navContainer">
		<ul class="navBar">
			<li><a class="navVentas" href="#ventas"><span>Ventas </span></a></li>
			<li><a class="navReparaciones" href="#reparaciones"><span>Reparaciones </span></a></li>
			<li><a class="navContacto" href="#contacto"><span>Contáctenos </span></a></li>
		</ul>	
		<section class="navLogin">
			<form action="">
				<input type="text" name="username" placeholder="Usuario">
				<input type="password" name="password" placeholder="Contraseña">
				<input type="submit" value=">">
			</form>
			<a href="#"><span>¿No estás registrado?</span></a>
		</section>
	</nav>


	<section class="ventasSection" id="ventas">
		<h2>Productos a la venta</h2>
		<article class="sliderContainer" id="sliderContainer">
			<!--<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/cell01.jpg" alt="Imagen del producto.">
				<figcaption class="slideDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
				<div class="divIdImg">20</div>
				<span class="tooltiptextSlider">Click para ver más datos de: cargador.</span>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/cell02.jpg" alt="Imagen del producto.">
				<figcaption class="slideDesc">ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu ipisicing elit. Molestias modi, blanditiis voluptatu</figcaption>
				<div class="divIdImg">21</div>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/cell03.jpg" alt="Imagen del producto.">
				<figcaption class="slideDesc">ariatur beatae distinctio sit cupiditate alias obc ariatur beatae distinctio sit cupiditate alias obc ariatur beatae distinctio sit cupiditate alias obc ariatur beatae distinctio sit cupiditate alias obc</figcaption>
				<div class="divIdImg">22</div>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="view/css/images/cell04.jpg" alt="Imagen del producto.">
				<figcaption class="slideDesc">ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci. ati culpa numquam repellat dolores amet. Natus, adipisci.</figcaption>
				<div class="divIdImg">23</div>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="../../public/view/css/images/repairBG.png" alt="Imagen del producto.">
				<figcaption class="slideDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
				<div class="divIdImg">24</div>
			</figure>
			<figure class="mySlide" style="display: block;">
				<img class="mySlideImg" src="../../public/view/css/images/bytecellLogo.png" alt="Imagen del producto.">
				<figcaption class="slideDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
				<div class="divIdImg">25</div>
			</figure>-->
			<button class="addToCart"></button>
			<form action="/mp" method="POST">
				<script
			   		src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
			   		data-preference-id="">
			  	</script>
			</form>
		</article>
	</section>


	<section class="reparSection" id="reparaciones">
		<h2>Reparaciones</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nulla unde sed rem a, ratione dolorum aperiam tempore magni expedita. Itaque accusamus eum labore nostrum ducimus, maxime error tempore veniam?</p>
		<button id="diagButton" onclick="activateDiagForm()">Diagnóstico en tiempo real</button>
		<form action="#" class="formDiag" id="formDiag">
			<input type="text" class="repModelo" placeholder="Ingrese su modelo.">
			<input list="listaProblemas" class="repProblema" placeholder="Seleccione el problema 1.">
		    <input list="listaProblemas" class="repProblema" placeholder="Seleccione el problema 2.">
		    <input list="listaProblemas" class="repProblema" placeholder="Seleccione el problema 3.">
		    <datalist id="listaProblemas">
		            <option value="Pantalla rota.">
		            <option value="No funciona la batería.">
		            <option value="El brillo no puede ajustarse.">
		            <option value="No puedo encenderlo.">
		            <option value="No funciona el botón de desbloqueo.">
		    </datalist>
		    <input type="submit" class="repSendButton" value="Diagnosticar">
	    	<input type="reset" class="repClearButton" value="Limpiar">
		</form>	
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum iure quo asperiores qui, quibusdam cum aliquid alias odio atque est ex incidunt excepturi, accusamus aspernatur dolores, nobis eius voluptatem ab.</p>
	</section>

	<section class="contactoSection" id="contacto">
		<h2>Contáctenos!</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolores nisi deserunt voluptatibus? Perferendis sit facilis natus officia, ipsum nisi accusantium possimus ad porro rerum modi eius! Nihil, recusandae inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto obcaecati dolorem nesciunt magnam ab, alias vitae, assumenda harum at asperiores fuga nihil eaque, voluptatem, mollitia temporibus. Atque, dicta, consequatur.</p>		
	</section>

	<footer>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias modi, blanditiis voluptatum voluptatem fugit reiciendis accusamus pariatur beatae distinctio sit cupiditate alias obcaecati culpa numquam repellat dolores amet. Natus, adipisci.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, corrupti, tempore! Temporibus provident molestiae, libero obcaecati laboriosam pariatur rem magni ad in sint doloribus, beatae mollitia perspiciatis deserunt, porro repudiandae.</p>
	</footer>
	
</body>
</html>